body{
    background-color: #d7f8ff;
}
#content{
    margin: 0 auto;
    max-width: 760px;
    background-color: white;
}
header{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    max-width: 7em;
}
nav { 
    margin: 0 auto;
    max-width: 760px;
    background-color: #00B4D8;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 1rem;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;

}
.active{
    text-decoration: underline;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #03045E;

}
.navigation a:hover {
	color: white;
	background-color: #03055e88;
}
.hero{
    position: relative;
}
.hero img{
    max-width: 100%;
}
.over {
    padding: 2em;
    background-color: #d7f8ff8e;
    position: relative;
}
.over p {
    margin-top: auto;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.responsive li {
    display: block;
}

.FiveDayForcast{
    max-width: 50%;
    background-color: #0077B6;
    display: none;
    align-content: center;
    justify-content: center;
}
.day{
    padding: .5em;
}
.articleDiv img{
    padding: .5em;
}
.contact_div{
    background-color: #0077B6;

}
.contact_div img{
display: none;
}
.contact_info{
    padding:.5em;
}
footer{
    margin: 0 auto;
    padding: 1em;
    max-width: 760px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #00B4D8;
}